<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ga.softogi.themoviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="ga.softogi.themoviecatalogue.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="ga.softogi.themoviecatalogue.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DetailContentActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FavActivity" />

        <provider
            android:authorities="ga.softogi.themoviecatalogue.provider.FavTvProvider"
            android:name=".provider.FavTvProvider"
            android:exported="true"
            android:readPermission="ga.softogi.themoviecatalogue.READ_DATABASE"
            android:writePermission="ga.softogi.themoviecatalogue.WRITE_DATABASE" />

        <provider
            android:authorities="ga.softogi.themoviecatalogue.provider.FavMovieProvider"
            android:name=".provider.FavMovieProvider"
            android:exported="true"
            android:readPermission="ga.softogi.themoviecatalogue.READ_DATABASE"
            android:writePermission="ga.softogi.themoviecatalogue.WRITE_DATABASE" />
    </application>

</manifest>