<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mfahmialkautsar.themoviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="mfahmialkautsar.themoviecatalogue.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="mfahmialkautsar.themoviecatalogue.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_movie_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_movie_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver
            android:name="mfahmialkautsar.themoviecatalogue.reminder.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name="mfahmialkautsar.themoviecatalogue.widget.FavoriteWidget"
            android:label="@string/favorite_films">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <activity
            android:name="mfahmialkautsar.themoviecatalogue.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mfahmialkautsar.themoviecatalogue.preference.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="mfahmialkautsar.themoviecatalogue.activity.MainActivity" />
        <activity
            android:name="mfahmialkautsar.themoviecatalogue.activity.DetailActivity"
            android:parentActivityName="mfahmialkautsar.themoviecatalogue.activity.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />

        <provider
            android:name="mfahmialkautsar.themoviecatalogue.provider.FavTvProvider"
            android:authorities="mfahmialkautsar.themoviecatalogue.provider.FavTvProvider"
            android:exported="true"
            android:readPermission="mfahmialkautsar.themoviecatalogue.READ_DATABASE"
            android:writePermission="mfahmialkautsar.themoviecatalogue.WRITE_DATABASE" />
        <provider
            android:name="mfahmialkautsar.themoviecatalogue.provider.FavMovieProvider"
            android:authorities="mfahmialkautsar.themoviecatalogue.provider.FavMovieProvider"
            android:exported="true"
            android:readPermission="mfahmialkautsar.themoviecatalogue.READ_DATABASE"
            android:writePermission="mfahmialkautsar.themoviecatalogue.WRITE_DATABASE" />

        <service
            android:name="mfahmialkautsar.themoviecatalogue.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="mfahmialkautsar.themoviecatalogue.reminder.ReleasedFilmsService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>