<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ga.softogi.themoviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="ga.softogi.themoviecatalogue.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="ga.softogi.themoviecatalogue.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_movie_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_movie_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver
            android:name=".reminder.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
        <receiver
            android:name=".widget.FavoriteWidget"
            android:label="@string/favorite_films">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preference.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.DetailActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />

        <provider
            android:name=".provider.FavTvProvider"
            android:authorities="ga.softogi.themoviecatalogue.provider.FavTvProvider"
            android:exported="true"
            android:readPermission="ga.softogi.themoviecatalogue.READ_DATABASE"
            android:writePermission="ga.softogi.themoviecatalogue.WRITE_DATABASE" />
        <provider
            android:name=".provider.FavMovieProvider"
            android:authorities="ga.softogi.themoviecatalogue.provider.FavMovieProvider"
            android:exported="true"
            android:readPermission="ga.softogi.themoviecatalogue.READ_DATABASE"
            android:writePermission="ga.softogi.themoviecatalogue.WRITE_DATABASE" />

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".reminder.ReleasedFilmsService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>